* {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    font-family: Helvetica, Arial, sans-serif;
    background: #e4e4e4;
    justify-content: center;
    text-align: center;
}

#light_dark {
    display: flex;
    justify-content: right;
    margin-top: -55px;
    margin-right: 35px;
}

#description {
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
}